* {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

blockquote {
    font-weight: bold;
    font-style: italic;
    background-color: rgb(250,250,250);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #000;
    padding: 0em 1em;
    text-align: center;
}

#logo_presentation {
    left: 30%;
}

.remark-code {
    box-shadow: 3px 3px 8px #333;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.fake_dir {
    color: #777;
}

.fake_dir:before {
    content: "<";
}

.fake_dir:after {
    content: ">";
}

.inline-command {
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #000;
    background-color: #222;
    font-family: monospace;
    padding: 0 .2em;
}

.file_path {
    font-weight: bold;
}

.file_path:before, .file_path:after {
    content: "\"";
}

.grails_file_tree {
    position: relative;
    display: inline-block;
    vertical-align: top;

    background-color: #222;
    color: #fff;

    font-size: 15px;

    margin-top: 10px;
    padding: .7em;

    box-shadow: 2px 2px 6px #000;
}

.grails_file_tree:nth-child(n+2) {
    margin-left: 1em;
}

.grails_file_tree > h1 {
    position: absolute;
    top: -27px;
    color:red;
    font-size: 13px;
    font-weight: bold;
}

.grails_file_tree > div {
    font-family: monospace;
    font-weight: normal;
}

.grails_file_tree i {
    margin-right: 0.4em;
}

i[class*="fa-folder"] {
    color: yellow;
}
